venv/
# intellij idea
.idea/**/workspace.xml
.idea/**/vcs.xml
.idea/**/modules.xml
.idea/**/misc.xml
.idea/**/.gitignore
.idea/**/$PRODUCT_WORKSPACE_FILE$
.idea/**/sonarlint
.idea/**/inspectionProfiles
.idea
fibonacciapi.iml
